<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"></script> <!-- Add Lunr.js -->
    <script src="{{ site.baseurl }}/search.js" defer></script> <!-- Path to search.js in the root -->
    <script src="{{ site.baseurl }}/assets/js/cart.js" defer></script>
    <title>{{ page.title }} | Dr. Fast Finds</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <style>
        /* Your existing styles */
    </style>
</head>
<body>

    <!-- Header with Clickable Logos -->
    <header>
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/images/logo.jpg" alt="Dr. Fast Finds">
        </a>
        
        <!-- Search form -->
        <form>
            <input type="text" id="search-box" placeholder="Search...">
            <ul id="search-results"></ul>
        </form>

        <nav>
            <a href="{{ site.baseurl }}/blog.html">Blog</a>
            <a href="https://drfastfinds.mercadoshops.com.mx" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/mercadologopng.png" alt="Mercado Libre" class="mercado-logo">
            </a>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <!-- Footer content here -->
    </footer>

</body>
</html>
