<h3>Replies</h3>
<ul>
  {% for reply in site.comments[page.id] %}
    <li>{{ reply.fields.name }}: {{ reply.fields.comment }}</li>
  {% endfor %}
</ul>

<h3>Post a Reply</h3>
<form action="https://YOUR_STATICMAN_URL/v3/entry/github/YOUR_USERNAME/YOUR_REPO/master/comments" method="POST">
  <input type="hidden" name="options[redirect]" value="{{ page.url }}#comments" />
  <input type="text" name="fields[name]" placeholder="Name" required>
  <textarea name="fields[comment]" placeholder="Your reply here" required></textarea>
  <input type="submit" value="Post Reply">
</form>
